@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar-logo{
    font-family: Cookie, cursive;
    font-size: 32px;
}

.bg-blue-inst {
    background: #005c98;
}

.text-blue-inst {
    color: #005c98;
}
.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}



.search_style{
    width: 450px;
    height: 35px;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}

.navbarqisim{
    background-color: black;
}

/* .navbarqisim_keyingi {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    box-shadow: 0px 0px 30px 0px white;
} */

.navbarqisim_keyingi {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    -webkit-animation: main_nav 4s infinite;
    animation: main_nav 2s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes main_nav {
    50% {box-shadow: 0 0 15px 5px white;}
}
/* Standard syntax */
@keyframes main_nav {
    50% {box-shadow: 0 0 15px 5px white;}
}

.logo{
    color: white;
}

.my-bg{
    position: absolute;
    width: 450px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
    background-color: black;
    color: white;
}

.logo{
    font-size: 30px;
    font-family: 'Pacifico';
}


.main_flex{
    display: flex;
    align-items: center;
}

.main_button{
    background-color: white;
    margin-top: 20px;
}

.tekkis_navbar{
    margin-top: -20px;
}

.my_profil {
    border-radius: 8px;
    color: white;
    -webkit-animation: my_profil 4s infinite;
    animation: my_profil 2s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes my_profil {
    50% {box-shadow: 0 0 10px 0px white;}
}
/* Standard syntax */
@keyframes my_profil {
    50% {box-shadow: 0 0 10px 0px white;}
}

.rang1{
    background-color: rgb(0, 0, 0);
}

.font_upload {
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 30px;
}

.rand_bg_button {
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-family: 'Pacifico';
}

.rand_bg_button1 {
    background-color: black;
    padding: 8px 50px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-family: 'Pacifico';
    margin-top: 10px;

}

.rasm2{
    width: 100%;
}

.razmer1 {
    width: 500px;
    margin-left: 100px;
    box-shadow: 0px 0px 10px 0px white;
}

body{
    height: 100vh;
    background-image: url(../pages/Auth/img/1617593344_33-p-zadnii-temnii-fon-34.jpg);
    background-size: cover;
}

.comment-1 {
    outline: none;
}

.comment_post_1 {
    background-color: black;
    padding: 0px 10px;
    border-radius: 10px;
    color: #ffffff;
}

.right_comm {
    background-color: white;
    margin-top: -15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px white;
}

.follow_bg{
    background-color: white;
    padding: 10px;
    width: 280px;
    box-shadow: 0px 0px 10px 0px white;
}

.my_text_button{
    background-color: black;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}

.container1{
    width: 500px;
    margin-left: 348px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px white
}

.img_post1{
    width: 76px;
    border: 2px solid red;
    border-radius: 100%;
    margin-left: 5px;
}


.user_profil_bg{
    box-shadow: 0px 0px 20px 0px white;
    padding-top: 20px;
    background-color: white;
}

.image_borders2 {
    box-shadow: 0px 0px 20px 0px white;
}

.settings_upload{
 
}

.settings_upload_glavni {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_glava_edit {
    width: 400px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid #999;
    -webkit-animation: test_edit 4s infinite;
    animation: test_edit 4s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes test_edit {
    50% {box-shadow: 0px 0px 30px 0px white;}
}
/* Standard syntax */
@keyframes test_edit {
    50% {box-shadow: 0px 0px 30px 0px white;}
}

.upload_user_img {
    background-color: black;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-animation: test_edit_img 4s infinite;
    animation: test_edit_img 1.5s infinite;
}
@-webkit-keyframes test_edit_img {
    50% {box-shadow: 0px 0px 10px 0px white;}
}
/* Standard syntax */
@keyframes test_edit_img {
    50% {box-shadow: 0px 0px 10px 0px white;}
}

.name_user_group{
    color: white;
}

.upload_user_img2 {
    background-color: black;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.login_system {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login_glava1{
    
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

.name_login h1{
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Pacifico';
}

.login_glava {
    width: 400px;
    background-color: black;
    padding: 80px 20px;
    border-radius: 10px;
    border: 2px solid #999;
    -webkit-animation: test 4s infinite;
    animation: test 4s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes test {
    50% {box-shadow: 0px 0px 30px 0px white;}
}
/* Standard syntax */
@keyframes test {
    50% {box-shadow: 0px 0px 30px 0px white;}
}

.input_siginin{
    width: 100%;
    outline: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}


/* .button_login {
    border: 1px solid white;
    color: white;
    padding: 5px 60px;
    margin-top: 15px;
    border-radius: 5px;
} */

.button_center{
    display: flex;
    justify-content: center;
}

.button_login {
    color: white;
    padding: 5px 60px;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-animation: main 4s infinite;
    animation: main 1.5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes main {
    50% {box-shadow: 0px 0px 10px 0px white;}
}
/* Standard syntax */
@keyframes main {
    50% {box-shadow: 0px 0px 10px 0px white;}
}

.forget_button{
    color: white;
}

.sign_up_buttons{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.sign_up{
    color: white;
    padding: 5px 20px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid white;
}

.my_post_text {
    color: white;
}